<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>695734833767-4e9nf57vtm11f6gmq28g57tf2726s8l3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.695734833767-4e9nf57vtm11f6gmq28g57tf2726s8l3</string>
	<key>API_KEY</key>
	<string>AIzaSyDjBb_qb403K5kezvR9qEhpw9B6Bi44Og8</string>
	<key>GCM_SENDER_ID</key>
	<string>695734833767</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.edorfs.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>messagingfeapp</string>
	<key>STORAGE_BUCKET</key>
	<string>messagingfeapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:695734833767:ios:3963522f53338c33677ac2</string>
</dict>
</plist>